version: '3.8'

services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - 'C:/Users/pa_bl/OneDrive/Desktop/servicio-comunitario/.env:/var/www/html/.env'
      - .:/var/www/html
    depends_on:
      - db
    networks:
      - laravel

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - laravel

  nginx:
    image: nginx:stable
    container_name: laravel_nginx
    ports:
      - '8080:80'
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

volumes:
  pgdata:

networks:
  laravel:
    driver: bridge
