services:
    - type: web
      name: laravel-inertia
      env: php
      plan: free
      buildCommand: >
          composer install --no-dev --optimize-autoloader &&
          npm install &&
          npm run build &&
          php artisan config:cache &&
          php artisan route:cache &&
          php artisan view:cache
      startCommand: >
          php artisan migrate:fresh --seed --force &&
          php artisan serve --host 0.0.0.0 --port $PORT
      envVars:
          - key: APP_NAME
            value: Laravel
          - key: APP_ENV
            value: production
          - key: APP_KEY
            value: base64:+438HQnK3NtFxMQ1pMrjNrnYwWXtKAy5ZRqUqEYf35A=
          - key: APP_DEBUG
            value: 'false'
          - key: APP_URL
            value: https://servicio-comunitario.com
          - key: ASSET_URL
            value: ${APP_URL}
          - key: LOG_CHANNEL
            value: stack
          - key: LOG_LEVEL
            value: info
          - key: DB_CONNECTION
            value: pgsql
          - key: DB_HOST
            value: aws-0-sa-east-1.pooler.supabase.com
          - key: DB_PORT
            value: '5432'
          - key: DB_DATABASE
            value: postgres
          - key: DB_USERNAME
            value: postgres.zqtlsztuuyolrkxlgugr
          - key: DB_PASSWORD
            value: Pablishdev259
          - key: CACHE_DRIVER
            value: file
          - key: SESSION_DRIVER
            value: file
          - key: QUEUE_CONNECTION
            value: sync
          - key: FILAMENT_PATH
            value: admin
          - key: VITE_APP_URL
            value: ${APP_URL}
